<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/last.css" />
</head>
<body>
<div class="container">
    <div id="items-container" class="base-container">
        <div class="header">Items</div>
        <div class="todo-item">
            TODO Item
        </div>
    </div>
    <div id="todos-container" class="base-container">
        <div class="header">TODO</div>
    </div>
</div>
<script src="/last.js"></script>
</body>
</html>