<html>
<head>
    <title>CSS Portal - Layout</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="../css/1564551205.css"/>
</head>
<body>

<div id="top">
    <div id="garbage" class="junk">
        <p>this is Garbage</p>
    </div>
</div>
<br>
<form class="makeHtml">
    <div id="wrapper">
        <div id="header" class="empty" draggable="true">
            <p>This is the Header</p>
        </div>
        <div id="leftcolumn" class="empty" draggable="true">
            <p>Left Column</p>
        </div>
        <div id="content" class="empty" draggable="true">
            <p>Main</p>
        </div>
        <div id="rightcolumn" class="empty" draggable="true">
            <p>Right Column</p>
        </div>
        <div id="footer" class="empty" draggable="true">
            <p>This is the Footer</p>
        </div>
    </div>
    <input type="submit" class="html_button" value="생성">
</form>
<div class='space'></div>

<div class="empty" id="waiting">
    <div class="fill" id="fill" draggable="true"><p>fill</p></div>
    <div class="banner" id="banner" draggable="true"></div>
    <div class="menu" id="menu" draggable="true"></div>
</div>

<!--<script>-->
<!--    $('.html_button').click(making);-->
<!--    function making(e) {-->
<!--        e.preventDefault();-->
<!--        console.log("html making success");-->
<!--        alert("성공")-->
<!--        var element = $('#wrapper')-->
<!--    }-->
<!--</script>-->

<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="/last.js">
</script>
</body>
</html>
